<head>
		<title>HyperZen | <%=@maquina.nombre%> | <%=@maquina.SO%></title>
		<% user @current_user %>
		<meta http-equiv="refresh" content="30">
	</head>
<body>
	<div id="page-wrapper">
		<div class="main-page">
				<div class="elements">	
				<div class="elements  row">
					<div class="col-md-11 profile widget-shadow chat-mdl-grid" style="width: 100%;">
						<h4 class="title3" ><%=@maquina.nombre%> | <%=@maquina.SO%></h4>
						<div class="scrollbar scrollbar1" >
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Hypervisor</th>
										<th>Nombre</th>
										<th>RAM</th>
										<th>HDD</th>
										<th>Estado</th>
										<th colspan="1"></th>
										<th colspan="1"></th>
									</tr>
								</thead>
								<tbody>
									<% MaquinaVirtual.all.where(:maquina_id=>@maquina.id).each do |mv|%>
									<tr style="border-bottom: 1px gainsboro solid;">
										<td><%= mv.hypervisor%></td>
										<td><%= mv.nombre%></td>
										<td><%= mv.opciones.split("ram=")[1].split(";")[0]%> MB</td>
										<td><%= mv.opciones.split("sizeOcupadoMV=")[1].split(";")[0]%> MB / <%= mv.opciones.split("sizeTotalMV=")[1].split(";")[0]%> MB</td>
										<td><%= mv.estado%></td>
										<td><%=link_to maquina_virtual_path(mv) do%><i class="fa fa-file-o" style="color:#e94e02;"></i> <%end%></td>
										<td><%=link_to actualizarMV_path(mv) do%><i class="fa fa-refresh" style="color:#e94e02;"></i>  <%end%></td>
									</tr>
									<%end%>
								</tbody>
							</table>
						</div>
					</div>
					
					
					
					
	
					
					</div>
					<div class="clearfix"> </div>
					
				</div>
			</div>
			</div>
</body>