<%= form_for(@comando) do |f| %>
  <% if @comando.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comando.errors.count, "error") %> prohibited this comando from being saved:</h2>

      <ul>
      <% @comando.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="sign-up-row widget-shadow">
	
  <div class="sign-u">
  	<div class="sign-up1">
    <label>Nombre del comando</label>
    </div>
    <div class="sign-up2">
    <%= f.text_area :nombre %>
    </div>
    <div class="clearfix"> </div>
  </div>
  
  <div class="sign-u">
  	<div class="sign-up1">
    <label>Sistema operativo</label>
    </div>
    <div class="sign-up2">
    <%= f.text_area :version %>
    </div>
    <div class="clearfix"> </div>
  </div>
  
  <div class="sign-u">
  	<div class="sign-up1">
    <label>Hypervisor</label>
    </div>
    <div class="sign-up2">
    <%= f.text_area :hypervisor %>
    </div>
    <div class="clearfix"> </div>
  </div>
  
  
 <div class="sign-u">
  	<div class="sign-up1">
    <label>Comando parametrizado</label>
    </div>
    <div class="sign-up2">
    <%= f.text_area :comandoParam %>
    </div>
    <div class="clearfix"> </div>
  </div>
  
  
  <div class="sub_home">
    <%= f.submit %>
  </div>
  <div class="clearfix"> </div>
  </div>
  
  
<% end %>
