	<head>
		<title>HyperZen | Editar comando</title>
		<% user @current_user %>
	</head>
	<body>
<div id="page-wrapper">
			<div class="main-page signup-page">
				<h3 class="title1">Editar comando</h3>
<%= render 'form' %>
			</div>
		</div>

</body>
