<%if @comandos!=nil%>
<% @comandos.where(:nombre=> "init").each do |comando| %>
<%= comando.id %>##<%= comando.hypervisor %>##<%= comando.version %>##<%= comando.comandoParam %><br />
    <% end %>
<% end %>