<head>
		<title>HyperZen | Lista de comandos</title>
		<% user @current_user %>
	</head>
	<body>
	<div id="page-wrapper">
		<div class="main-page">
				<div class="elements">	
				<div class="elements  row">
					<div class="col-md-11 widget-shadow chat-mdl-grid" style="padding: 0;">
						<h4 class="title3" ><%=link_to new_comando_path do%><i class="fa fa-plus-circle fa-2x" aria-hidden="true" style="color: white;"></i><%end%> Lista comandos</h4>
						<div class="scrollbar scrollbar1">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>S.O.</th>
										<th>Hypervisor</th>
										<th>Nombre comando</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<%if @comandos!=nil%>
<% @comandos.order(:version,:hypervisor).each do |comando| %>
									<tr>
										<td><%= comando.version %></td>
										<td><%= comando.hypervisor %></td>
										<td><%= comando.nombre %></td>
										<td><%=link_to edit_comando_path(comando.id) do%><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i><%end%></td>
										<td><%=link_to delComando_path(comando.id) do%><i class="fa fa-times-circle fa-2x" aria-hidden="true" style="color: red;"></i><%end%></td>
									</tr>
									
									    <% end %>
<% end %>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="clearfix"> </div>	
				</div>
				</div>
		</div>
	</div>
	</body>

