
	<head>
		<title>HyperZen | Mostrar comando</title>
		<% user @current_user %>
		<meta http-equiv="refresh" content="0; url=<%=listaComandos_path%>" />
	</head>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @comando.nombre %>
</p>

<p>
  <strong>Comandoparam:</strong>
  <%= @comando.comandoParam %>
</p>

<p>
  <strong>Hypervisor:</strong>
  <%= @comando.hypervisor %>
</p>

<p>
  <strong>Version:</strong>
  <%= @comando.version %>
</p>

<%= link_to 'Edit', edit_comando_path(@comando) %> |
<%= link_to 'Back', listaComandos_path %>
