<head>
		<title>HyperZen | <%=@maquina_virtual.nombre%> | <%=@maquina_virtual.hypervisor%></title>
		<% user @current_user %>
		<meta http-equiv="refresh" content="30">
	</head>
<body>
	<div id="page-wrapper">
			<div class="main-page">
				<div class="row-one">
					<h3 class="title1"><%=@maquina_virtual.hypervisor%> | <%=@maquina_virtual.nombre%></h3>
					<div class="col-md-4 widget">
						<div class="stats-left ">
							<h4>HDD</h4>
						</div>
						<div class="stats-right" style="padding: 0px;min-height: 77px;background-color: rgba(79, 82, 186, 0.88)">

							<a href="#" data-html="true" data-placement="auto" data-toggle="popover" title="Aumentar tamaño hdd" data-content="Tamaño <input type='number' name='quantityhdd' min='<%=@maquina_virtual.opciones.split("sizeTotalMV=")[1].split(";")[0].to_i%>' max='<%=@maquina_virtual.opciones.split("sizeTotalMaquina=")[1].split(";")[0].to_i%>' value='<%=@maquina_virtual.opciones.split("sizeTotalMV=")[1].split(";")[0].to_i%>'> MB<br/><br/><center><button type='button' class='btn btn-primary' onclick='modhdd()'>Aceptar</button></center>">
								
                                  <div style="display: table;width: 100%;min-height: 77px;overflow: hidden;">
								<div style="display: table-cell;vertical-align: middle;width: 100%;margin: 0 auto;text-align: center;min-height: 77px;">
									<i class="fa fa-pencil-square-o fa-2x" style="color: white;"></i>
								</div>
							</div>
									
							</a>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
					<div class="col-md-4 widget states-mdl">
						<div class="stats-left">
							<h4>RAM</h4>
						</div>
						<div class="stats-right" style="padding: 0px;min-height: 77px;background-color: rgba(88, 88, 88, 0.88)">
							<a href="#" data-html="true" data-placement="auto" data-toggle="popover" title="Cambiar tamaño RAM" data-content="Tamaño <input type='number' name='quantityram' min='128' max='<%=@maquina_virtual.opciones.split("ramTotal=")[1].split(";")[0].to_i%>' value='<%=@maquina_virtual.opciones.split("ram=")[1].split(";")[0].to_i%>'> MB<br/><br/><center><button type='button' class='btn btn-primary' onclick='modram()'>Aceptar</button></center>">
								
                                  <div style="display: table;width: 100%;min-height: 77px;overflow: hidden;">
								<div style="display: table-cell;vertical-align: middle;width: 100%;margin: 0 auto;text-align: center;min-height: 77px;">
									<i class="fa fa-pencil-square-o fa-2x" style="color: white;"></i>
								</div>
							</div>
									
							</a>
						</div>
						<div class="clearfix"> </div>	
					</div>
					<div class="col-md-4 widget states-last">
						<div class="stats-left">
							<h4>Estado</h4>
						</div>
						<div class="stats-right" style="padding: 0px;min-height: 77px;background-color: rgba(233, 78, 2, 0.84)">
							<a href="#" data-html="true" data-placement="auto" data-toggle="popover" title="Opciones" data-content="
							<ul style='list-style:none;font-size:150%;'>
								<%if @maquina_virtual.estado.eql? "running"%>
								<li style='margin-bottom: 5px;'>
									<a href='<%=accion_path(:comando=>'apagar',:id=>@maquina_virtual.id,:valor=>0)%>'>
										<i class='fa fa-power-off'></i> Apagar
										</a>
								</li>
								<li style='margin-bottom: 5px;'>
									<a href='<%=accion_path(:comando=>'reiniciar',:id=>@maquina_virtual.id,:valor=>0)%>'>
										<i class='fa fa-refresh'></i> Reiniciar
									</a>
								</li>
								<li style='margin-bottom: 5px;'>
									<a href='#' data-toggle='collapse' data-target='#vnc'>
										<i class='fa fa-terminal'></i> Conexión VNC
									</a>
									<div id='vnc' class='collapse'>
										<%if @maquina_virtual.opciones.split("ipvnc=")[1].split(";")[0]==nil%>
										<input id='vnc1' type='text' placeholder='IP VNC'>
										<%else%>
										<input id='vnc1' type='text' placeholder='IP VNC' value='<%=@maquina_virtual.opciones.split("ipvnc=")[1].split(";")[0]%>' >
										<%end%>
										<%if @maquina_virtual.opciones.split("portvnc=")[1].split(";")[0]==nil%>
										<input id='vnc2' type='text' placeholder='Puerto VNC' onkeyup='filtrarNum(this);'>
										<%else%>
										<input id='vnc2' type='text' placeholder='Puerto VNC' value='<%=@maquina_virtual.opciones.split("portvnc=")[1].split(";")[0]%>' onkeyup='filtrarNum(this);'>
										<%end%>
										<br/><br/>
										<center>
											<button type='button' class='btn btn-primary' onclick='vnc()'>Conectar</button>
										</center>
									</div>
								</li>
								<%else%>
								<li style='margin-bottom: 5px;'>
									<a href='<%=accion_path(:comando=>'encender',:id=>@maquina_virtual.id,:valor=>0)%>'>
										<i class='fa fa-power-off'></i> Encender
									</a>
								</li>
								<%end%>
								<li style='margin-bottom: 5px;'>
									<a href='#' data-toggle='collapse' data-target='#snapshot1'>
										<i class='fa fa-camera-retro'></i> Hacer Snapshot
									</a>
									<div id='snapshot1' class='collapse'>
										<input id='snapshot1text' type='text' name='nombreSnapshot' placeholder='Nombre del Snapshot' onkeyup='filtrarSnap(this);'>
										<br/><br/>
										<center>
											<button type='button' class='btn btn-primary' onclick='hacerSnap()'>Aceptar</button>
										</center>
									</div>
								</li>
								<%if @maquina_virtual.estado.eql? "running"%>
								<%else%>
								<li style='margin-bottom: 5px;'>
									<a href='#' data-toggle='collapse' data-target='#snapshot2'>
										<i class='fa fa-retweet'></i> Restaurar Snapshot
									</a>
									<div id='snapshot2' class='collapse'>
										<%if @maquina_virtual.snapshots.count>0%>
										<center>
										<select id='snapshot2text'>
											<%@maquina_virtual.snapshots.each do |snap|%>
										  <option value='<%=snap.nombre%>'><%=snap.nombre%></option>
										  <%end%>
										</select>
											<button type='button' class='btn btn-primary' onclick='restaurarSnap()'>Aceptar</button>
										</center>
										<%else%>
										No dispone de Snapshots
										<%end%>
									</div>
								</li>
								<li style='margin-bottom: 5px;'>
									
									<a href='#' data-toggle='collapse' data-target='#snapshot3'>
										<i class='fa fa-eraser'></i> Eliminar Snapshot
									</a>
									<div id='snapshot3' class='collapse'>
										<%if @maquina_virtual.snapshots.count>0%>
										<center>
										<select id='snapshot3text'>
											<%@maquina_virtual.snapshots.each do |snap|%>
										  <option value='<%=snap.nombre%>'><%=snap.nombre%></option>
										  <%end%>
										</select>
											<button type='button' class='btn btn-primary' onclick='eliminarSnap()'>Aceptar</button>
										</center>
										<%else%>
										No dispone de Snapshots
										<%end%>
									</div>
								</li>
								<%end%>
							</ul>">
								
                                  <div style="display: table;width: 100%;min-height: 77px;overflow: hidden;">
								<div style="display: table-cell;vertical-align: middle;width: 100%;margin: 0 auto;text-align: center;min-height: 77px;">
									<i class="fa fa-bars fa-2x" style="color: white;"></i>
								</div>
							</div>
									
							</a>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
					<div class="clearfix"> </div>	
				</div>
				<div class="charts">
					<div class="col-md-4 charts-grids widget">
						<canvas id="hdd" height="300" width="400"> </canvas>
					</div>
					<div class="col-md-4 charts-grids widget states-mdl">
						<canvas id="ram" height="300" width="400"> </canvas>
					</div>
					<div class="col-md-4 charts-grids widget">
						<canvas id="estado" height="300" width="400"> </canvas>
					</div>
					<div class="clearfix"> </div>
							 <script>
								var pieDataHDD = [
										{
											value: <%=@maquina_virtual.opciones.split("sizeTotalMaquina=")[1].split(";")[0].to_i%>,
											color:"rgba(57, 230, 0, 1)",
											label: "Espacio libre HDD"
										},
										{
											value : <%=@maquina_virtual.opciones.split("sizeOcupadoMV=")[1].split(";")[0].to_i%>,
											color : "rgba(0, 102, 255, 1)",
											label: "Espacio ocupado HDD MV"
										},
										{
											value : <%=@maquina_virtual.opciones.split("sizeTotalMV=")[1].split(";")[0].to_i-@maquina_virtual.opciones.split("sizeOcupadoMV=")[1].split(";")[0].to_i%>,
											color : "rgba(51, 133, 255,1)",
											label: "Espacio libre HDD MV"
										}
										
									];
									var pieDataRAM = [
										{
											value: <%=@maquina_virtual.opciones.split("ramTotal=")[1].split(";")[0].to_i-@maquina_virtual.opciones.split("ram=")[1].split(";")[0].to_i%>,
											color:"rgba(233, 78, 2, 1)",
											label: "RAM Total-Asignada en MB"
										},
										{
											value : <%=@maquina_virtual.opciones.split("ram=")[1].split(";")[0].to_i%>,
											color : "rgba(88, 88, 88,1)",
											label: "RAM Asignada MV en MB"
										}
										
									];
									var pieDataEstado = [
										{
											value: 1,
											<%if @maquina_virtual.estado.eql? "poweredoff"%>
											color:"rgba(255, 0, 0, 1)",
											<%elsif @maquina_virtual.estado.eql? "running"%>
											color:"rgba(0, 255, 0, 1)",
											<%else%>
											color:"rgba(255, 255, 0, 1)",
											<%end%>
											label: "<%=@maquina_virtual.estado%>"
										}
										
									];
								
							new Chart(document.getElementById("hdd").getContext("2d")).Pie(pieDataHDD);
							new Chart(document.getElementById("ram").getContext("2d")).Pie(pieDataRAM);
							new Chart(document.getElementById("estado").getContext("2d")).Pie(pieDataEstado);
							
							</script>
							
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});

function modhdd(){
	<%if @maquina_virtual.estado.eql? "poweredoff"%>
	var hdd=document.getElementsByName("quantityhdd")[0].value;
	 location.href='../accion/modificarhdd/<%=@maquina_virtual.id%>/'+hdd;
	<%else%>
	var r = confirm('Esta acción necesita que la maquina este apagada ¿Apagar?');
	if (r == true) {
	var hdd=document.getElementsByName("quantityhdd")[0].value;
	 location.href='../accion/modificarhdd/<%=@maquina_virtual.id%>/'+hdd;
	 }
	 <%end%>
}
function modram(){
	<%if @maquina_virtual.estado.eql? "poweredoff"%>
	var ram=document.getElementsByName("quantityram")[0].value;
	 location.href='../accion/modificarram/<%=@maquina_virtual.id%>/'+ram;
	<%else%>
		var r = confirm('Esta acción necesita que la maquina este apagada ¿Apagar?');
	if (r == true) {
	var ram=document.getElementsByName("quantityram")[0].value;
	 location.href='../accion/modificarram/<%=@maquina_virtual.id%>/'+ram;
	}
	<%end%>
}
function hacerSnap(){
	var snap=document.getElementById("snapshot1text").value;
	snap=snap.replace(/([^A-Za-z0-9\-\_])+/g,"");
	var date=new Date();
	snap=snap+"_"+date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear()+"_"+date.getHours()+"_"+date.getMinutes();
	 location.href='../accion/hacerSnapshot/<%=@maquina_virtual.id%>/'+snap;
	
}
function restaurarSnap(){
	var snap=document.getElementById("snapshot2text").value;
	 location.href='../accion/restaurarSnapshot/<%=@maquina_virtual.id%>/'+snap;
}
function eliminarSnap(){
	var snap=document.getElementById("snapshot3text").value;
	 location.href='../accion/eliminarSnapshot/<%=@maquina_virtual.id%>/'+snap;
}
function vnc(){
	var ipvnc=document.getElementById("vnc1").value.replace(/\./g,"_");
	
	var portvnc=document.getElementById("vnc2").value;
	portvnc=portvnc.replace(/([^0-9])+/g,"");
	location.href='../changevnc/<%=@maquina_virtual.id%>/'+ipvnc+'/'+portvnc;
}

function filtrarSnap(e){
	var cadena=e.value;
	cadena=cadena.replace(/([^A-Za-z0-9\-\_])+/g,"");
	e.value=cadena;
}
function filtrarNum(e){
	var cadena=e.value;
	cadena=cadena.replace(/([^0-9\.])+/g,"");
	e.value=cadena;
}
</script>
</body>
