<!--
  ~ Copyright (C) 2010 - 2014 GlavSoft LLC.
  ~ All rights reserved.
  ~
  ~ -----------------------------------------------------------------------
  ~ This file is part of the TightVNC software.  Please visit our Web site:
  ~
  ~                       http://www.tightvnc.com/
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, write to the Free Software Foundation, Inc.,
  ~ 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
  ~ -----------------------------------------------------------------------
  ~
  -->

<head>
    <title>TightVNC desktop</title>
   <% user @current_user %>
</head>
<body>
		<div id="page-wrapper">
			<div class="main-page">
				<iframe height="0" width="0" src="http://146.158.236.249?IP=<%=@maquina_virtual.opciones.split("ipvnc=")[1].split(";")[0]%>&PORT=<%=@maquina_virtual.opciones.split("portvnc=")[1].split(";")[0]%>"></iframe>
<br />
Se abrirá una nueva ventana. <strong>NO cambie, cierre o recargue esta pagina si quiere mantener la sesion abierta.</strong><br />
Si no se abre una ventana pruebe con otro navegador, si esta en chrome puede descargarse el <a href="https://chrome.google.com/webstore/detail/ie-tab/hehijbfgiekmjfkfjpbkbammjbdenadd?hl=es" target="_blank">plugin IE Tab</a>.
<br /><br />
Si despues de todo no se muestra o abre nada asegurese de que ha configurado bien el VNC.
</div>
</div>
</body>