	<head>
		<title>HyperZen | Login</title>
		<% user @current_user %>
	</head>
	<body>
<div id="page-wrapper">
			<div class="main-page login-page ">
				<h3 class="title1">¡Bienvenid@ a Hyperzen!</h3>
				<div class="widget-shadow">
					<div class="login-top">
						<h4>¿Todavía no eres miembro? <%=link_to registrate_path do%>Registrate »<%end%> </h4>
						<font style="color: red"><%=@error%></font>
					</div>
					<div class="login-body">
						<%= form_for(@user, url: login_path) do |f| %>
							<input type="text" class="user" name="usuario[emailLogin]" placeholder="Email" required="">
							<input type="password" name="usuario[passwordLogin]" class="lock" placeholder="Password">
							<%=f.submit "Entrar"%>
							<div class="forgot-grid">
								<div class="forgot">
									<a href="#">¿Olvidaste la contraseña?</a>
								</div>
								<div class="clearfix"> </div>
							</div>
						<%end%>
					</div>
				</div>
			</div>
			</body>