<%= form_for(@usuario,:html=>{:onsubmit=>"return validacionRegistro();"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
				
					
					
				
	<div class="sign-up-row widget-shadow">	
		
  <div class="sign-u">
  	<div class="sign-up1">
    <label for="usuario_username">Nombre de Usuario</label>
    </div>
    <div class="sign-up2">
    <%= f.text_field :username, :onkeyup=>"notNull(this);", :maxlength=>"255" %>
    </div>
    <div class="clearfix"> </div>
  </div>
  
  
   <div class="sign-u">
   	<div class="sign-up1">
    <%= f.label :email  %>
    </div>
    <div class="sign-up2">
    <%= f.text_field :email, :onkeyup=>"validarEmail(this);" %>
    </div>
    <div class="clearfix"> </div>
  </div>
  
  
  <div class="sign-u">
  	 <div class="sign-up1">
    <label for="usuario_password">Contraseña <font size="1px"> (Requiere un mínimo de 8 caracteres con al menos 2 números y 2 letras)</font></label>
  </div>
   <div class="sign-up2">
    <input type="password" name="usuario[password]" maxlength="255" id="usuario_password" onkeyup="validarContrasena(this);">
  </div>
  <div class="clearfix"> </div>
  </div>
 <div class="sign-u">
  	 <div class="sign-up1">
    <label for="usuario_password2">Confirmar contraseña</label>
  </div>
   <div class="sign-up2">
    <input type="password" name="usuario[password2]" maxlength="255" id="usuario_password2" onkeyup="validarContrasena(this);">
  </div>
  <div class="clearfix"> </div>
  </div>

  
  <div class="sub_home">
    <input type="submit" name="commit" value="Registrarse">
  </div>
  <div class="clearfix"> </div>
  </div>
<% end %>
