<head>
		<title>HyperZen | Perfil <%= @usuario.username %></title>
		<% user @current_user %>
	</head>
	<body>
<div id="page-wrapper">
			<div class="main-page signup-page">
				<h3 class="title1">Perfil <%= @usuario.username %></h3>
				
				
<div class="sign-up-row widget-shadow">	
		  <p id="notice"><%= notice %></p><br />
   <div class="sign-u">
   	<div class="sign-up1">
    <label>Email:</label>
    </div>
    <div class="sign-up2">
    <%= @usuario.email %>
    </div>
    <div class="clearfix"> </div>
  </div>
  <br />
<div  id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					  <h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						  Secret Key
						</a>
					  </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
						<%= @usuario.auth %> <br/><%=link_to newKey_path(@usuario) do%><button>Reset Secret Key</button><%end%>
					  </div>
					</div>
				  </div>  
				</div>
  
  <%= form_for(@usuario,:html=>{:onsubmit=>"return validarPass();"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br />
  <p><strong style="color: black"><u>Cambiar contraseña</u></strong></p><br />
  <div class="widget-shadow">
  <div class="sign-u">
  	
  	 <div class="sign-up1">
    <label for="usuario_password">Contraseña <font size="1px"> (Requiere un mínimo de 8 caracteres con al menos 2 números y 2 letras)</font></label>
  </div>
   <div class="sign-up2">
    <input type="password" name="usuario[password]" maxlength="255" id="usuario_password" onkeyup="validarContrasena(this);">
  </div>
  <div class="clearfix"> </div>
  </div>
 <div class="sign-u">
  	 <div class="sign-up1">
    <label for="usuario_password2">Confirmar contraseña</label>
  </div>
   <div class="sign-up2">
    <input type="password" name="usuario[password2]" maxlength="255" id="usuario_password2" onkeyup="validarContrasena(this);">
  </div>
  <div class="clearfix"> </div>
  </div>

  
  <div class="sub_home">
    <input type="submit" name="commit" value="Cambiar">
  </div>
  <div class="clearfix"> </div>
  </div>
  <%end%>
  <br /><br /><br />
  
  <p><button onclick="seguro();" style="background: #FE2E2E;color: white;border-radius: 20px;padding: 10px;">Eliminar Cuenta</button></p>
  
  <script>
function seguro(){
    
    var r = confirm("Esta seguro de que desea eliminar su cuenta?");
    if (r == true) {
        location.href = "..<%=delUsuario_path(@usuario)%>";
    } else {
    }
}
</script>
  </div>
			</div>
		</div>

</body>
